[submodule "vendor/bootstrap"]
	path = vendor/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "vendor/hotkeys"]
	path = vendor/hotkeys
	url = https://github.com/jeresig/jquery.hotkeys.git
