/assets export-ignore
/bin export-ignore
/spec export-ignore
/src export-ignore
/vendor export-ignore
.bowerrc
.gitattributes export-ignore
.gitignore export-ignore
.gitmodules export-ignore
.rspec export-ignore
.travis.yml export-ignore
bower.json export-ignore
Gemfile export-ignore
Guardfile export-ignore
Rakefile export-ignore
VERSION export-ignore
genghisapp.gemspec export-ignore
