html, body {
    background-image: url('../img/backgrounds/body.png');
}

.navbar-search .grippie {
    background-image: url('../img/backgrounds/grippie.png');
}

section#servers tr.spinning td:first-child {
    background-image: url('../img/backgrounds/servers_spin.gif');
}

body > section section.spinning > header h2 {
    background-image: url('../img/backgrounds/section_spin.gif');
}

#footer a.keyboard-shortcuts:after {
    background-image: url('../img/backgrounds/keyboard.png');
}