<div class="alert{{# block }} alert-block{{/ block }} alert-{{ level }}">
    <a class="close" href="#">&times;</a>
    {{# block }}
        <p>{{{ msg }}}</p>
    {{/ block }}
    {{^ block }}
        {{{ msg }}}
    {{/ block }}
</div>