{{# header }}
  <div class="modal-header">
    <button class="dismiss close" aria-hidden="true">&times;</button>
    <h3>{{ header }}</h3>
  </div>
{{/ header }}

<div class="modal-body">
  {{# body }}
    <p>{{{ body }}}</p>
  {{/ body }}
  {{# confirmInput }}
    <div>
      <input type="text" class="confirm-input">
    </div>
  {{/ confirmInput }}
</div>


<div class="modal-footer">
  <button class="dismiss btn" aria-hidden="true">{{ dismissText }}</button>
  <button class="confirm btn btn-primary"{{# confirmInput }} disabled{{/ confirmInput }}>{{{ confirmText }}}</button>
</div>
