{{# error }}
    <td colspan="4">
        <span class="value">{{ name }}</span>
        <span class="label label-important" title="{{ error }}">Error</span>
    </td>
{{/ error }}
{{^ error }}
    <td>
        <a href="{{ url }}" class="name value">{{ name }}</a>
    </td>
    <td>
        <span class="collections has-details value">{{ count }}</span>
        <div class="details" title="{{ count }} Collection{{# isPlural }}s{{/ isPlural }}">
            {{# count }}
                <ul>
                    {{# firstChildren }}
                        <li>{{ . }}</li>
                    {{/ firstChildren }}
                    {{# hasMoreChildren }}
                        <li>&hellip;</li>
                    {{/ hasMoreChildren }}
                </ul>
            {{/ count }}
            {{^ count }}
                <em>None.</em>
            {{/ count }}
        </div>
    </td>
    <td>
        <span class="size has-details value">{{ humanSize }}</span>
        <div class="details" title="Database Stats">
            <dl class="stats-details">
                {{# stats }}
                    <dt>{{ name  }}</dt>
                    <dd>{{ value }}</dd>
                {{/ stats }}
            </dl>
        </div>
    </td>
    <td class="action-column">
        <button class="btn btn-mini btn-danger destroy">Remove</button>
    </td>
{{/ error }}
