<header><h2>{{ title }}</h2></header>
<div class="content">
    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>collections</th>
                <th>size</th>
                <th data-sorter="false"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="add-form inactive form-horizontal">
    <input class="name span4" type="text" size="30">
    <button class="show btn">Add database</button>
    <button class="add btn btn-primary">Add database</button>
    <button class="cancel btn">Cancel</button>
</div>