<div class="well">
    {{^ readOnly }}
    <div class="document-actions">
        <button class="btn btn-small btn-primary save">Save</button>
        <button class="btn btn-small cancel">Cancel</button>
        <button class="btn btn-small edit">Edit</button>
        <button class="btn btn-small btn-danger destroy">Delete</button>
    </div>
    {{/ readOnly }}

    <h3>
        <a class="id" href="{{ url }}">{{ id }}</a>
    </h3>

    <div class="document">{{{ prettyPrint }}}</div>
</div>
