<header><h2>Query explanation</h2></header>
<div class="content document-wrapper">
    <article>
        <div class="well">
            <div class="document"></div>
        </div>
    </article>
</div>
