<div id="keyboard-shortcuts" class="modal">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>Keyboard shortcuts</h3>
  </div>
  <div class="modal-body">
    <ul>
      <li>
        <h4>Global</h4>
        <dl>
          <dt><kbd>?</kbd></dt>
          <dd>This cheat sheet</dd>

          <dt><kbd>s</kbd></dt>
          <dd>Go to servers</dd>

          <dt><kbd>u</kbd></dt>
          <dd>Go up one level</dd>
        </dl>

        <h4>Servers</h4>
        <dl>
          <dt><kbd>c</kbd></dt>
          <dd>New server</dd>
        </dl>

        <h4>Databases</h4>
        <dl>
          <dt><kbd>c</kbd></dt>
          <dd>New database</dd>
        </dl>
      </li>
      <li>
        <h4>Collections</h4>
        <dl>
          <dt><kbd>c</kbd></dt>
          <dd>New collection</dd>
          <dt><kbd>shift</kbd> + <kbd>c</kbd></dt>
          <dd>New GridFS collection</dd>
        </dl>

        <h4>Documents</h4>
        <dl>
          <dt><kbd>/</kbd></dt>
          <dd>Search</dd>

          <dt><kbd>c</kbd></dt>
          <dd>New document</dd>

          <dt><kbd>n</kbd></dt>
          <dd>Next page</dd>

          <dt><kbd>p</kbd></dt>
          <dd>Previous page</dd>

<!--
          <dt><kbd>-</kbd></dt>
          <dd>Collapse all</dd>

          <dt><kbd>+</kbd></dt>
          <dd>Expand all</dd>

          <dt><kbd>Alt+1</kbd> &ndash; <kbd>Alt+9</kbd></dt>
          <dd>Expand to depth</dd>
-->
        </dl>
      </li>
    </ul>
  </div>
</div>