{{! <button class="btn search pull-right">Search</button> }}
<ul class="nav">
	<li class="nav-section servers"><a class="btn-servers" href="{{ baseUrl }}">Servers</a></li>
	<li class="nav-section dropdown server"></li>
	<li class="nav-section dropdown database"></li>
	<li class="nav-section dropdown collection"></li>
</ul>
