<input id="navbar-query" class="search-query" name="q" type="text" value="{{ query }}" />
<div class="search-advanced">
	<div class="well"></div>
	<div class="form-actions">
		<label for="explain" class="checkbox">
			<input type="checkbox" name="explain" />Explain
		</label>
		<button class="search btn btn-primary">Search</button>
		<button class="cancel btn">Cancel</button>
	</div>
</div>
<span class="grippie"></span>
