<h2>Welcome to</h2>
<h1>Genghis</h1>
<p>The single-file MongoDB admin app.</p>
<ul class="welcome-links">
	<li><a href="http://genghisapp.com">Homepage</a></li>
	<li><a href="https://github.com/bobthecow/genghis/issues">Issues</a></li>
	<li>Version {{ version }}</li>
</ul>