<div class="form-group add-form-input">
    <div class="input-group">
        <label class="sr-only" for="new-gridfs-collection-name">GridFS collection name</label>
        <input class="name form-control" type="text" id="new-gridfs-collection-name">
        <span class="input-group-addon">.files</span>
    </div>
</div>
<button class="btn btn-primary add">Add GridFS collection</button>
<button class="btn btn-link cancel">Cancel</button>
