<div class="form-group add-form-input">
  <div class="input-group">
    <label class="sr-only" for="new-server-uri">Server URI</label>
    <input class="name form-control" id="new-server-uri" type="text">
    <span class="input-group-addon help" title="user:pass@localhost:27017/db">?</span>
  </div>
</div>
<button class="btn btn-primary add">Add server</button>
<button class="btn btn-link cancel">Cancel</button>
