<div class="form-group">
  <label class="sr-only" for="new-collection-name">Collection name</label>
  <input class="name form-control add-form-input" type="text" id="new-collection-name">
</div>
<button class="btn btn-primary add">Add collection</button>
<button class="btn btn-link cancel">Cancel</button>
