<div class="alert{{# block }} alert-block{{/ block }} alert-{{ level }} alert-dismissable">
  <button class="close" type="button" aria-hidden="true">&times;</button>
  {{# block }}
    <p>{{{ msg }}}</p>
  {{/ block }}
  {{^ block }}
    {{{ msg }}}
  {{/ block }}
</div>