<header><h2>Collections</h2></header>
<div class="content">
  <table>
    <thead>
      <tr>
        <th>name</th>
        <th>documents</th>
        <th>indexes</th>
        <th>size</th>
        <th data-sorter="false"></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div class="add-form-toggle form-inline" role="form">
  <div class="btn-group">
    <button class="btn btn-default">Add collection</button>
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a class="show" href="#">Add collection</a></li>
      <li><a class="show-gridfs" href="#">Add GridFS collection</a></li>
    </ul>
  </div>
</div>