<header></header>
<div class="controls">
    <button class="btn btn-default add-document{{# isGrid }} file-upload{{/ isGrid }}">{{# isGrid }}Upload file{{/ isGrid }}{{^ isGrid }}Add document{{/ isGrid }}</button>
    <div class="pagination-wrapper top"></div>
</div>
<div class="content document-wrapper"></div>
<div class="controls">
    <button class="btn btn-default add-document{{# isGrid }} file-upload{{/ isGrid }}">{{# isGrid }}Upload file{{/ isGrid }}{{^ isGrid }}Add document{{/ isGrid }}</button>
    <div class="pagination-wrapper top"></div>
</div>
