<header>
    <h2>
        {{ prettyId }}
        {{# prettyTime }}
            <small><time datetime="{{ prettyTime }}">{{ prettyTime }}</time></small>
        {{/ prettyTime }}
    </h2>
</header>
<div class="content document-wrapper"></div>