{{# showControls }}
    <div class="document-actions">
        <button class="btn btn-sm btn-primary save">Save</button>
        <button class="btn btn-sm btn-default cancel">Cancel</button>
    </div>
{{/ showControls }}

<textarea id="editor-{{ id }}"></textarea>