<a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ id }}</a>
<ul class="dropdown-menu">
  <li class="divider"></li>
  <li class="dropdown-menu-more"><a href="{{ collection.url }}">More &raquo;</a></li>
</ul>
