<div id="new-document" class="modal modal-editor">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h4 class="modal-title">New Document</h4>
      </div>
      <div class="modal-body">
        <div class="wrapper">
          <textarea id="editor-new" class="genghis-document-editor"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default cancel">Cancel</button>
        <button class="btn btn-primary save">Save</button>
      </div>
    </div>
  </div>
</div>