<header><h2>Servers</h2></header>
<div class="content">
    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>databases</th>
                <th>size</th>
                <th data-sorter="false"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div class="add-form-toggle form-inline" role="form">
    <button class="btn btn-default">Add server</button>
</div>
