<div class="form-group">
    <input type="text" id="sort-custom-{{ cid }}" class="sort-custom form-control" placeholder="{custom: 1}" value="{{ value }}">
</div>
<button class="btn btn-primary sort">Sort</button>
<button class="btn btn-link cancel">Cancel</button>
