<div class="form-group">
  <input class="sort-custom form-control" id="sort-custom-{{ cid }}" type="text" placeholder="{custom: 1}" value="{{ value }}">
</div>
<button class="btn btn-primary sort">Sort</button>
<button class="btn btn-link cancel">Cancel</button>
