<header><h2>{{ title }}</h2></header>
<div class="content">
    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>documents</th>
                <th>indexes</th>
                <th>size</th>
                <th data-sorter="false"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="add-form inactive form-horizontal">
    <input class="name span4" type="text" size="30">
    <div class="btn-group">
        <button class="show btn">Add collection</button>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a class="show" href="#">Add collection</a></li>
            <li><a class="show show-gridfs" href="#">Add GridFS collection</a></li>
        </ul>
    </div>

    <button class="add btn btn-primary">Add collection</button>
    <button class="cancel btn">Cancel</button>
</div>
