<header><h2>Documents</h2></header>
<div class="controls">
    <button class="btn btn-lg btn-default add-document">Add document</button>
    <div class="pagination-wrapper top"></div>
</div>
<div class="content document-wrapper"></div>
<div class="controls">
    <button class="btn btn-lg btn-default add-document">Add document</button>
    <div class="pagination-wrapper top"></div>
</div>
