<header>
    <h2>
        {{ model.prettyId }}
        {{# model.prettyTime }}
            <small><time datetime="{{ model.prettyTime }}">{{ model.prettyTime }}</time></small>
        {{/ model.prettyTime }}
    </h2>
</header>
<div class="content document-wrapper"></div>