<div id="new-grid-file" class="modal modal-file-upload">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>Upload File</h3>
    </div>
    <div class="modal-body">
        <div class="wrapper">
            <textarea id="editor-upload" class="genghis-document-editor"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn cancel">Cancel</button>
        <button class="btn btn-primary save">Upload</button>
    </div>
</div>
