<div class="form-group">
	<label class="sr-only" for="navbar-query">Search</label>
	<input id="navbar-query" class="form-control" name="q" type="text" value="{{ query }}"/>
</div>
<div class="search-advanced">
	<div class="well"></div>
	<div class="form-actions">
		<button class="btn btn-default explain">Explain</button>
		<button class="btn btn-primary search">Search</button>
		<button class="btn btn-default cancel">Cancel</button>
	</div>
</div>
<span class="grippie"></span>
