<header><h2>Servers</h2></header>
<div class="content">
    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>databases</th>
                <th>size</th>
                <th data-sorter="false"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div class="add-form-toggle form-horizontal">
    <button class="btn">Add server</button>
</div>

<div class="add-form form-horizontal">
    <span class="input-append">
        <input class="name span4" type="text" size="30"><span class="add-on help" title="user:pass@localhost:27017/db">?</span>
    </span>
    <button class="add btn btn-primary">Add server</button>
    <button class="cancel btn">Cancel</button>
</div>
