html, body {
    background-image: url('../img/backgrounds/body.png');
}

.navbar-search .grippie {
    background-image: url('../img/backgrounds/grippie.png');
}

.nav .dropdown, .navbar-search {
    background-image: url('../img/backgrounds/nav.png');
}

section#servers tr.spinning td:first-child {
    background-image: url('../img/backgrounds/servers_spin.gif');
}

body > section section.spinning > header h2 {
    background-image: url('../img/backgrounds/section_spin.gif');
}
