.cm-s-default {
    span {
        &.cm-keyword    { color: @blackish;  }
        &.cm-atom       { color: #0086b3;    }
        &.cm-number     { color: #40A070;    }
        &.cm-def        { color: @blackish;  }
        &.cm-variable   { color: @blackish;  }
        &.cm-variable-2 { color: @blackish;  }
        &.cm-variable-3 { color: @blackish;  }
        &.cm-property   { color: @blackish;  }
        &.cm-operator   { color: @blackish;  }
        &.cm-comment    { color: @blackish;  }
        &.cm-string     { color: #D14;       }
        &.cm-string-2   { color: #009926;    }
        &.cm-meta       { color: @blackish;  }
        &.cm-error      { color: #F00;       }
        &.cm-qualifier  { color: @blackish;  }
        &.cm-builtin    { color: @blackish;  }
        &.cm-bracket    { color: @blackish;  }
        &.cm-tag        { color: @blackish;  }
        &.cm-attribute  { color: @blackish;  }
        &.cm-header     { color: @blackish;  }
        &.cm-quote      { color: @blackish;  }
        &.cm-hr         { color: @blackish;  }
        &.cm-link       { color: @link-color; }
    }
}
.CodeMirror-focused div.CodeMirror-selected {
    background: desaturate(lighten(@link-color, 45%), 35%);
}

.CodeMirror {
    font-family: 'Source Code Pro', monospace;
    line-height: 1.4em;
    background-color: white;
    border-radius: 4px;
    .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075)");

    .error-line {
        background-color: @state-danger-bg;
    }
}

.CodeMirror-gutters {
    border-top-left-radius:    4px;
    border-bottom-left-radius: 4px;
}
