.welcome-links {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        display: inline;
        padding: 0 10px;
        color: mix(#fff, darken(@linkColor, 10%), 40%);
    }
    a {
        &:link, &:visited {
            color: mix(#fff, darken(@linkColor, 10%), 70%);
            .transition(color .2s ease-in-out);
        }
        &:hover, &:active {
            color: #fff;
        }
    }
}